body{
	margin: 0;
	padding: 0;
}
.logo {
	width: 200px;
	height: 65px;
	float: left;
}

.clear{
	clear: both;
}

.clear-nav{
	height: 70px;
}

.purple-bg {
	background-color: rgba(148,48,148,0.82);
}

.block-left{
	float:left;
}

.block-left .foo1{
	margin: 15px;
	font-size: 20px;
	width: 400px;
	padding: 5px;
}

.block-right{
	float:right;
}

.tile-icon{
	width:35px;
	height:35px;
	margin: 15px;
}

.left-menu{
	list-style: none;
	margin:0;
	padding:0;

}

.left-menu li a{
	padding: 10px;
	display: block;
	font-size: 20px;
	text-decoration: none;
}

.content {
	border-left:1px solid #ccc;
	width:91vw;
	height: 50vw;
}